@model Web.Models.HOME.HomeVM

@{
    Layout = "../Shared/_Layout.cshtml";

}
<div class="breadcrumbs" id="breadcrumbsHome">
    @RenderPage("~/Views/Shared/navSearchBar.cshtml")
</div>
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
</script>
<div class="row">
    <div class="col-sm-12">

      
    </div>
</div>