
<ul class="nav nav-list">


     
    <li class="" id="id_2">
        <a class="dropdown-toggle" title="Espandi Liste">
            <i class="menu-icon fa fa-folder-open" id="IdDettaglioAmbito" onclick="activeVoiceMenu('id_2')" style="cursor:pointer"></i>
            <span class="menu-text">
                Museo
            </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu nav-hide">
            <li class="" id="id_3">

                <a href="@(Url.Action("MuseiIndex", "Admin"))" class="" style="">
                    <table border="0" cellspacing="10" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                             
                                <td align="left">

                                    <span class="menu-text">

                                        <i class="menu-icon fa fa-list-alt blue" title="Vai alle fasi" idfase="3" nomefase="Telematizzazione">
                                        </i>
                                     
                                        Lista Musei
                                    </span>

                                </td>
                                @*</i>*@
                                <td valign="top" style="padding-right:5px">
                                    <b class=""></b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </a>
                <ul class="submenu nav-hide"></ul>

            </li>
            <li class="" id="id_4">

                <a href="@(Url.Action("MuseoAdd", "Admin"))" class="" style="">
                    <table border="0" cellspacing="10" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="left">
                                    <span class="menu-text">
                                        <i class="menu-icon fa icon-programming-process blue" id="IdDettaglio" value="11" title="Vai al dettaglio di Gestione della domanda"></i>
                                      
                                        Nuovo Museo
                                    </span>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </a>


            </li>
        </ul>

    </li>
   

</ul>

