@*<div class="nav-search" id="nav-search">
    <form class="form-search" action="@Url.Action("SearchAmbito", "Search")" method="post">
        <span class="input-icon">*@
            @*<input class="nav-search-input" id="searchTerm" name="searchTerm" type="text" placeholder="Ricerca negli ambiti ..." autocomplete="off">*@
            @*<i class="ace-icon fa fa-search nav-search-icon"></i>*@
        @*</span>
    </form>
</div>*@