<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">Amministrazione</li>
            <li id="home">
                <a href="@Url.Action("Index", "Home")" style="line-height: 35px;">
                    <i class="fa fa-dashboard"></i> <span>Home</span>
                </a>
            </li>
            
        </ul>
    </section>
</aside>